@import "styles/responsive.css";
@import "styles/navbar.css";
@import "styles/card.css";
@import "styles/buttons.css";
@import "styles/links.css";
@import "styles/homepage.css";

/* Color variables */
:root {
  --navy-blue: #00376e;
  --gold: #f2c261;
  --lighter-gold: #FFE9BE;
}

/* Form CSS */

textarea {
  border: 1px solid #ced4da;
}

textarea:focus {
  border: 1px solid #ced4da;
}

/* Bounty List CSS */

.complete-bounties {
  background-color: #E7FFE4 !important;
  border: solid 1px #7FCF76 !important;
}

/* Rounded PFP Images */

.rounded-images {
  object-fit: cover;
  border-radius: 50%;
}

/* Previous Code */

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */